.box-layout {
    background: $dark-blue;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box-layout__box {
    background-color: fade-out($color: white, $amount: .15);
    border-radius: 3px;
    text-align: center;
    width: 30rem;
    padding: $xl-size $m-size;
}

.box-layout__title {
    margin: 0 0 $l-size 0;
    line-height: 1;
}